{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}bettarr{% endblock %}

{% block head %}
    {{ super() }}
    {{ turbo() }}
    <!--<meta http-equiv="refresh" content="15">-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
        {% block page_content %}
        {% endblock %}
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
{% endblock %}