@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&display=swap');

body{
    font-family: 'Roboto Mono', sans-serif !important;
    padding: 0;
    text-align: center;
}

.navbar{
    font-family: 'Rubik Mono One', sans-serif !important;
}
